<div ng-controller="userController">
	<h2>Список пользователей</h2>
	<div>Записей в базе данных: <b>{{ users.length }}</b></div>

	<table border="1">
		<tr>
			<td>Ид</td>
			<td>Код</td>
			<td>Имя</td>
			<td>Фамилия</td>
			<td>Телефон</td>
			<td><b>Удалить</b></td>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.id}}</td>
			<td>{{user.code}}</td>
			<td>{{user.fname}}</td>
			<td>{{user.sname}}</td>
			<td>{{user.phone}}</td>
			<td><input type="checkbox" ng-click="deleteUser(user.id)"></td>
		</tr>
	</table>

</div>
